# --------------------------------------------------------------------------------------------------
# External Dependencies
# --------------------------------------------------------------------------------------------------

# [Go] Dep, VGO
# [PHP] Composer
vendor/

# [JS] NPM, Yarn
node_modules/

# --------------------------------------------------------------------------------------------------
# Workspace-Specifics
# --------------------------------------------------------------------------------------------------

# static assets
assets/

# env files
.env*

# --------------------------------------------------------------------------------------------------
# OS-Specifics
# --------------------------------------------------------------------------------------------------

# MacOS
.DS_Store
.localized


